.profile-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.profile {
  width: 100%;
  flex: 10;
  margin-left: 320px;
}

.profile-container > h1,
.profile-container > h3 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.profile-container > h1 {
  font-size: 1.4rem;
}

.btn,
.btn button {
  padding: 5px 10px;
}

.profile-information {
  padding: 10px;
  background: #f7f7f7;
  margin-bottom: 20px;
  box-shadow: 1px 2px 5px #ccc;
  display: flex;
}
.profile-information > div {
  padding: 10px;
}
.profile-picture {
  flex: 3;
  position: relative;
}
.profile-picture img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.profile-picture > div {
  justify-content: flex-start;
  padding-left: 0;
}
.profile-info {
  margin-left: 20px;
  flex: 6;
}

.profile-info > * {
  margin-bottom: 10px;
}

.profile-info h3::after {
  display: none;
}
.profile-info > div {
  height: 30px;
  width: 100%;
}

.profile-actions {
  flex: 2;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}
.profile-activity {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-activity > div {
  background-color: #f7f7f7;
}

.loading {
  top: calc(100px - 32px);
  left: calc(110px - 32px);
}

@media (max-width: 768px) {
  .profile-container {
    margin-left: 0px;
  }
  .profile-information {
    flex-direction: column;
  }
  .profile-information > div {
    padding: 0px;
  }
  .profile-picture {
    margin: auto;
    padding: 0;
  }
  .profile-picture img {
    height: 150px;
    width: 150px;
  }
  .profile-picture .btn {
    justify-content: center;
  }
  .profile-info {
    margin-left: 0;
  }
  .edit-modal {
    height: 90vh;
  }
}
