.comment {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #fff;
}

.user-info {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.user-info img {
  width: 62px;
  height: 62px;
  object-fit: contain;
  border-radius: 50%;
}
.user-comment {
  flex: 10;
  min-height: 120px;
}
.user-comment > *,
.user-info > * {
  margin-bottom: 5px;
}

.comment-status {
  font-weight: bold;
  font-size: 1rem;
}
