.header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(200, 205, 206, 0.95) 0%,
    rgba(110, 119, 116, 0.95) 12%,
    rgba(10, 8, 9, 0.55) 31%,
    rgba(10, 8, 9, 0.5) 67%,
    rgba(10, 8, 9, 0.5) 67%,
    rgba(110, 119, 116, 0.5) 99%,
    rgba(110, 119, 116, 0.85) 99%
  );
}

.logo {
  font-size: 2rem;
  color: white;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #b6c5c957;
  border-radius: 25px;
  color: #d1cece;
}

.actions button {
  padding: 0.85rem 1rem;
  background: transparent;
}
