.title {
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.header img {
  width: 120px;
  height: 120px;
  padding: 5px;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid #f8be3b;
  margin: 0 20px 20px 0;
  flex: 2;
}
.product {
  flex: 7;
  word-break: break-all;
}

.product-name {
  color: #2269f4;
  font-weight: 600;
  word-break: break-word;
}
.product-price {
  font-weight: bold;
}

.content form {
  margin: 0;
  align-items: baseline;
}
.content form label {
  font-weight: bold;
  font-size: 1.3rem;
}
.rate-buttons {
  display: table;
}
.rate-buttons label {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  float: right;
  transition: color 0.4s;
  margin-bottom: 10px;
  color: #ccc;
  padding: 0;
}
.rate-buttons input {
  display: none;
}
.rate-buttons label:hover ~ label svg,
.rate-buttons label svg:hover,
.rate-buttons input:checked ~ label svg,
.rate-buttons input:checked svg {
  color: #f9bf3b;
}
.rate-buttons label svg {
  height: 32px;
  line-height: 32px;
  color: #ccc;
  font-size: 26px;
  opacity: 1;
}

.review h3 {
  margin-bottom: 10px;
}

.review textarea {
  max-width: 100%;
  height: 150px !important;
  max-height: 150px;
  resize: none;
  padding: 5px 10px !important;
}

.btn {
  padding: 0.5rem 1rem;
}
