.header {
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header h2 {
  color: chocolate;
}

.button {
  background-color: white;
  padding: 0;
  color: black;
}

.button:hover {
  color: chocolate;
}

.content {
  text-align: center;
}

.icon {
  font-size: 5rem;
  margin-bottom: 20px;
  color: chocolate;
}
