.preview-container {
  position: relative;
}
.preview-container > img {
  width: 500px;
  height: 500px;
  object-fit: fill;
  padding: 10px 0px;
  background: #767575;
  border-radius: 10px;
}

.preview {
  width: 500px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview > img {
  width: 90px;
  height: 90px;
  object-fit: fill;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.preview > img.active,
.preview > img:hover {
  border: 1px solid #8b9092;
  padding: 2px;
  border-radius: 10px;
  background-color: #8b9092;
}
.preview .icon {
  font-size: 2em;
}

.loading {
  left: 20%;
}


@media (max-width: 768px) {
  .preview {
    width: 100%;
  }
}