.products {
  background: white;
  padding: 10px;
  margin: auto;
}
.products > h2 {
  text-align: left;
  margin-bottom: 10px;
}
.product-container {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
.products ul {
  flex-wrap: nowrap;
  width: 1450px;
}
.products ul li section {
  width: 270px;
  height: 450px;
}
.products ul li {
  margin: 0px 10px;
  width: 270px;
}

.products-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.products-inner li > section div:first-child {
  margin-top: 15px;
}
.products-inner .arrow {
  background-color: #f7f7f7;
  height: 80px;
  cursor: pointer;
  z-index: 5;
  display: flex;
  padding: 5px;
  align-items: center;
  position: absolute;
  color: #1f140e;
  border-radius: 10px;
  opacity: 0.6;
}
.products-inner .arrow:hover {
  opacity: 1;
}
.products-inner .arrow:disabled {
  cursor: not-allowed;
}

.arrow-icon {
  font-size: 2em;
  color: black;
}
.arrow-left {
  left: 0px;
}
.arrow-left svg {
  margin-left: 0;
}
.arrow-right {
  right: 0px;
}
.arrow-right svg {
  margin-right: 0;
  margin-left: 10px;
}

@media (max-width: 1600px) {
  .products ul {
    width: 1160px;
  }
}

@media (max-width: 1330px) {
  .products ul {
    width: 870px;
  }
}

@media (max-width: 1026px) {
  .products ul {
    width: 580px;
  }
}

@media (max-width: 740px) {
  .products ul {
    width: 290px;
  }
}
