.user {
  margin-right: 20px;
  height: 350px;
  width: 300px;
  top: 8rem;
}
.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.user-info img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
.anonymous-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.navigation {
  margin-top: 10px;
  border-top: 1px solid #ccc;
}

.navigation li {
  margin: 5px;
  border-radius: 0.25rem;
}
.navigation li a {
  color: black;
  display: flex;
  padding: 5px;
  align-items: center;
  font-weight: bold;
  border-radius: 0.25rem;
  border-right: 10px solid #000000;
}

.navigation li a span {
  flex: 8;
}

.navigation li .nav-icon {
  flex: 4;
  font-weight: bold;
}

.navigation a.active,
.navigation a:hover,
.navigation a:active {
  background-color: #767575;
  color: white;
  border-radius: 0.25rem;
}

.guest {
  background-color: #2a87a5;
}
.navigation .guest a {
  color: white;
  border-right: 10px solid black;
}
.navigation .guest a:active,
.navigation .guest a:hover,
.navigation .guest a.active {
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .user {
    display: none;
  }
}