.user-link {
  color: black;
  display: flex;
  padding: 5px;
  align-items: center;
  font-weight: bold;
  border-radius: 0.25rem;
}

.guest-link {
  color: black;
  display: flex;
  padding: 5px;
  align-items: center;
  font-weight: bold;
  border-radius: 0.25rem;
}

.user-link.active,
.user-link:hover,
.user-link:active {
  background-color: #2a87a5;
  color: white;
  border-radius: 0.25rem;
}

.guest-link:active,
.guest-link:hover,
.guest-link.active {
  background-color: #2a87a5;
  border-radius: 0.25rem;
  color: white;
}

.user-link span,
.guest-link {
  flex: 10;
}

.icon {
  flex: 2;
  font-weight: bold;
}
.guest-link .icon {
  flex: 0;
  margin: 0px 20px;
}
