.favorites-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.favorites {
  width: 100%;
  flex: 10;
  margin-left: 320px;
}

.favorites h1 {
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .favorites-container {
    flex-direction: column;
  }
  .favorites {
    margin-left: 0px;
  }
}
