.products-container {
  flex: 8;
  padding-bottom: 5px;
}

.no-products {
  text-align: center;
  width: 100%;
  height: calc(80vh - 14rem);
}
.no-products img {
  height: 300px;
  width: 100%;
  object-fit: contain;
}
